@{
    ViewData["Title"] = "Login";
}
<head>
    <style>
        body {
            background-color: antiquewhite; /* setting background colour of the page */
        }

        h1 { /* setting heading 1 font, colour and placement */
            font-size: 60px;
            color: brown;
            font-family: 'Palatino Linotype';
            /* text-align: center; */
        }

        p { /* setting the font of paragraph text */
            font-family: 'Comic Sans MS', sans-serif;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
</head>

<h1>Login</h1>

<body>
    @* Allows a user to enter account details to login *@
<form action = "Login" method= "post">
    <p> Email:</p>
    <input type="text" name="Email" placeholder="" required />
    <p> Password:</p>
    <input type="text" name="Password" placeholder="" required />
    <p>Select account type:</p>
    <select name="AccountType">
        <option value="user">User</option>
        <option value="client">Client</option>
    </select>
    <p></p>
        <button type="submit" style="margin-top: 10px;">Submit</button>
</form>
</body>