@model JoshuaWood_ST10296167_CLDV_POE.Models.UserModel
@{
    ViewData["Title"] = "Sign Up";
}
<head>
    <style>
        body {
            background-color: antiquewhite; /* setting background colour of the page */
        }
        h1 { /* setting heading 1 font, colour and placement */
            font-size: 60px;
            color: brown;
            font-family: 'Palatino Linotype';
            /* text-align: center; */
        }
        p { /* setting the font of paragraph text */
            font-family: 'Comic Sans MS', sans-serif;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    </style>
</head>

<h1>Sign up</h1>

<body>
    @* Allows a user to enter account details in order to create an account *@
    <form action="SignUp" method="post">
        <p> Name:</p>
        <input type="text" name="Name" placeholder="" required />
        <p> Surname:</p>
        <input type="text" name="Surname" placeholder="" required />
        <p> Email:</p>
        <input type="text" name="Email" placeholder="" required />
        <p> Password:</p>
        <input type="text" name="Password" placeholder="" required />
        <p> </p>
        <button type="submit" style="margin-top: 10px;">Submit</button>
    </form>
</body>