@{
    ViewData["Title"] = "About";
}

<head>
    <style>
        body{
            background-color:antiquewhite;
        }

        h1 {
            font-size: 60px;
            text-align: center;
            color: brown;
            font-family: 'Palatino Linotype'
        }
        p{
            font-family: 'Comic Sans MS', sans-serif;
        }
    </style>
</head>

<body>
    <h1>About Us</h1>
    <div class="info">
     <p>
            At KhumaloCraft, we believe that every handcrafted piece carries a story, a legacy, and a touch of the artisan's soul. Our journey began with a vision – a vision to bridge the gap between talented artisans and appreciative patrons worldwide. Founded by James Khumalo, a visionary entrepreneur with a fervent dedication to celebrating craftsmanship, KhumaloCraft emerged as a beacon of artisanal excellence in the vast landscape of e-commerce.
     </p>
     <p>
            Our mission is simple yet profound: to curate a diverse collection of handcrafted products from artisans across the globe and showcase them on a platform that values authenticity, creativity, and ethical craftsmanship. We understand the importance of preserving traditional techniques while embracing innovation, and this ethos permeates every facet of KhumaloCraft.
     </p>
     <p>
            What sets us apart is our unwavering commitment to the artisans we collaborate with. We foster meaningful relationships with craftsmen and craftswomen, empowering them to share their skills, stories, and cultural heritage with the world. By providing a platform for these talented individuals, we not only promote economic empowerment but also preserve centuries-old traditions that are at risk of fading into obscurity.
     </p>
     <p>
            When you shop at KhumaloCraft, you're not just purchasing a product – you're investing in a legacy. Each item in our collection embodies the dedication, craftsmanship, and passion of the artisans who created it. From intricately woven textiles to meticulously carved woodwork, every piece tells a unique narrative that transcends borders and resonates with the essence of human creativity.
     </p>
     <p>
            We invite you to explore our curated selection of handcrafted treasures and embark on a journey of discovery, inspiration, and appreciation for the artisanal spirit. Whether you're searching for a one-of-a-kind gift or simply indulging in the beauty of craftsmanship, KhumaloCraft is your destination for authentic, ethically sourced, and exquisitely crafted goods.
     </p>
    </div>
    
</body>