@{
    ViewData["Title"] = "Contact Us";
}

<head>
    <style> 
        body{
            background-color: antiquewhite;  /* setting background colour of the page */
        }
        .phone-info, .email-info{  /* setting the size and placement of contact icons */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 10px;
        }
        .contact-item{  /* setting the layout of for contact elements */
            display: flex;
            align-items: center;
            justify-content: center; 
            margin-bottom: 20px; 
            text-align: center;
        }
        .social-icon{  /* setting the size and placement of social media icons */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 15px;
        }
        h1{  /* setting heading 1 font, colour and placement */
            font-size: 60px;
            color: brown;
            font-family: 'Palatino Linotype';
            text-align: center;
        }
        h2{
            text-align: center;
        }
        .social-items{
            text-align: center;
        }

    </style>

</head>

<body>
    <h1>Contact Us</h1>
    <div class="contact-item">  @* displaying phone number *@
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXwuNxN0yCS3oLHr27AouQM2vddf6BtXy8Tg&usqp=CAU" alt="Phone Icon" class="phone-info" />
        <span>Phone Number: 0716851234</span>
    </div>
    <div class="contact-item">  @* displaying email *@
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTouv01Za2qABrKqA5elSJe1laNfFhntbySwQ&usqp=CAU" alt="Email Icon" class="email-info" />
        <span>Email: khumalocraftcon.co.za</span>
    </div>
    <h2>Social Media</h2>
    <div class="social-items">  @* displaying social media options *@
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/600px-Instagram_logo_2022.svg.png" alt="Instagram" class="social-icon" />
        <img src="https://st2.depositphotos.com/1144386/7770/v/450/depositphotos_77705008-stock-illustration-original-round-blue-facebook-web.jpg" alt="Facebook" class="social-icon"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/X_logo.jpg/1200px-X_logo.jpg" alt="X" class="social-icon" />
    </div>
</body>
