@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body{  /* setting home page background image */
            background-image: url(https://cdn.hovia.com/app/uploads/70s-bold-multicolor-stripes-retro-wallpaper-mural-Plain-scaled.jpg);
            background-size: cover;
            background-position: center;
        }
        h1.display-4{  /* setting the font, size and colour of heading */
            font-family: 'Bauhaus 93', sans-serif;
            font-size: 75px;
            color: brown;
        }
        p:nth-of-type(1),p:nth-of-type(3){  /* setting the font and size for specific parapgraphs */
            font-family: 'Trebuchet MS', sans-serif;
            font-size: 25px;
        } 
        p:nth-of-type(2){  /* setting the font and size for specific parapgraphs */
            font-family:Impact, sans-serif;
            font-size: 45px;
        }
    </style>
</head>
<body>

<div class="text-center">  @* displaying main heading info text *@
    <h1 class="display-4">KhumaloCraft</h1>  
    <p> KhumaloCraft was founded by James Khumalo, who dreamt of creating a global platform that would connect talented artisans with a discerning audience. </p>
    <p> That dream is now a reality </p> 
    <p> Find out more <a href="/Home/About">About Us</a> or have a look at <a href="/Home/MyWork">My Work</a> to discover new, talented artisans.</p>  @* adding two hypertext references for the About Us and Contact Us views *@
</div>


</body>