@{
    ViewData["Title"] = "My Work";
}

<head>
    <style>
        body{
            background-color: antiquewhite;
        }
        .display{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
        }
        .display-item{
            width: calc(33.33% - 20px);
            background-color: lightblue;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
        }
        .display-item img{
            width: 100%;
            border-radius: 8px;
                width: 300px; 
                height: 200px; 
                object-fit: cover; 
        }
        .artist{
            margin-top: 10px;
            font-weight: bold;
        }
        .price{
            margin-top: 5px;
            color: green;
        }
        h1{
            text-align: center;
            color: brown;
            font-family: 'Century Schoolbook'
        }
        p{
            text-align: center;
            font-family: 'Comic Sans MS', sans-serif;
        }
    </style>
</head>

<body>
    <h1>Explore our curated selection of handcrafted products</h1>
    <p>Artisans will receive 100% of your payment </p>
    <div class="display-container">
        <div class="display">
            <div class="display-item">
                <img src="https://as2.ftcdn.net/v2/jpg/05/56/32/53/1000_F_556325396_2CU9ot0DWy61c9L0tHVutO4mMglHvFNu.jpg" alt="Artist Work" />
                <div class="artist">Artisan Name: Bob Snarby</div>
                <div class="price">Price: R1000</div>
            </div>
            <div class="display-item">
                <img src="https://i.ebayimg.com/images/g/QrsAAOSwh-5iFs3S/s-l1200.webp" alt="Artist Work" />
                <div class="artist">Artisan Name: Joe Mama</div>
                <div class="price">Price: R200</div>
            </div>
            <div class="display-item">
                <img src="https://i.pinimg.com/originals/34/2e/de/342ede57c4110a0559473254c91f45f1.png" alt="Artist Work" />
                <div class="artist">Artisan Name: Gerdy Sturdy</div>
                <div class="price">Price: R100</div>
            </div>
            <div class="display-item">
                <img src="https://i.etsystatic.com/7940599/r/il/9d18ec/2589718901/il_1080xN.2589718901_7ckx.jpg" alt="Artist Work" />
                <div class="artist">Artisan Name: Sue Mi</div>
                <div class="price">Price: 400</div>
            </div>
            <div class="display-item">
                <img src="https://heavensoaps.co.za/wp-content/uploads/2020/03/opaque_soap_artisan_soap_making_artisan_natural_soaps_wilderness.jpg" alt="Artist Work" />
                <div class="artist">Artisan Name: Bing Bong</div>
                <div class="price">Price: R80</div>
            </div>
            <div class="display-item">
                <img src="https://authindia.com/wp-content/uploads/2022/12/Sell-handicrafts-online-in-India1.jpg" alt="Artist Work" />
                <div class="artist">Artisan Name: Grace Fulli</div>
                <div class="price">Price: R300</div>
            </div>
            <div class="display-item">
                <img src="https://sethrolland.com/wp-content/uploads/2015/07/Finback-Chairs1-1280x853-c-default.jpg" alt="Artist Work" />
                <div class="artist">Artisan Name: Jon Wood</div>
                <div class="price">Price: R2000</div>
            </div>
            <div class="display-item">
                <img src="https://media.istockphoto.com/id/1219605291/photo/colorful-handmade-african-jewelry-in-street-market-in-south-africa.jpg?s=612x612&w=0&k=20&c=qRLdVDGxas_hKiRGcGkghj_u3VPL2YXyr8qRcHGnBmw=" alt="Artist Work" />
                <div class="artist">Artisan Name: Cara Van</div>
                <div class="price">Price: R50</div>
            </div>
            <div class="display-item">
                <img src="https://www.toyproject.co.za/Resources/hand-m0.jpeg" alt="Artist Work" />
                <div class="artist">Artisan Name: Chris Cross</div>
                <div class="price">Price: R100</div>
            </div>
        </div>
    </div>
</body>